# OS-specific files
.DS_Store

# IDE-specific files
.idea/
.vscode/

# Python
__pycache__/
*.pyc
venv/
.env

# Node.js/NPM
node_modules/
npm-debug.log
package-lock.json

# Application specific
uploads/
static/dist/

# Database files
*.db
*.sqlite
*.sqlite3
